/*Обновляю отступы для всех браузеров*/
* {
    padding: 0; margin: 0;
}
/*Загружаю свой шрифт*/
@font-face {
    font-family: BERNARD;
    src: url(../fonts/BERNHC.TTF);
}
/*Устанавливаю шрифт по стандарту для всей странички, а почему подсвечивает - не пойму... главное - работает=)*/
body {
    font-family: BEBAS;
    color: snow;
    max-width: 100%;     /* <---- А ЭТОТ СПОСОБ, НАВЕРНОЕ, ДОСТАТОЧНО ГЛУП И ТУП, НО ПОКА - КАК ЕСТЬ(ХОТЬ ДО ЭТОГО ДОДУМАЛСЯ).. */
    min-width: 1300px;
}
/*Ставлю шапку в качестве картинки. Сюда же и текст(подпись) с тенью для лучшей читабельности */
.shapka {
    font-family: BERNARD;
    color: snow;
    font-size: 50px;
    text-shadow: 2px 1px 4px MidnightBlue;
    width: 100%;
    height: 220px;
    background-image: url(../images/Shapka2.png);
    background-size: 100% 220px;
    background-repeat: no-repeat;
}
/*Это сама подпись сайта (~Mak`aS Portfolio)*/
p.textSh{
    padding-left: 35%;
    padding-top: 58px;
}
/*Блок меню, осталось добавить !!иконки соц сетей!! */
.block2{
    font-family: BERNARD;
    color: #D1C7BF;
    height: 85px;
    background-color: #1A191E;
}
.menu{
    padding-top: 13px;
    padding-bottom: 50px;
}
li {
    display: inline;
    font-size: 15px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #D1C7BF;
}
li a:hover{
    color: #5FC39D;
    padding-bottom: 10px;
    border-bottom: 2px solid #5FC39D;
}
.folio{
    font-size: 38px;
    text-align: left;
    margin-right: 25%;
    margin-left: 23%;
}

/*                                      Это цветной фон и "галерея"         */
.work{
    width: 100%;
    height: 1380px;
    background-color: #2CA77F;
}
h1 {
    text-align: center;
}
.row1{
    text-align: center;
    padding-top: 10px;
}
.universal{
    max-width: 80%;
    margin-left: 14%;
    margin-bottom: -3px;
}
.universal li{
    margin: -1px;
}

/*                                     ДЛЯ ФРАЗЫ И ФОНА ПОСЛЕ "ГАЛЕРЕИ"    */
.podMenu{
    width: 100%;
    height: 280px;
    background-image: url(../images/Shapka111.jpg);
    background-size: 100% 280px;
    background-repeat: no-repeat;
}
.lorem{
    font-size: 25px;
    color: #FFF560;
    text-align: center;
    padding-top: 60px;
    text-shadow: 1px 1px 3px grey;
}
.ipsum{
    padding-left: 68%;
    padding-top: 25px;
    color: blueviolet;
    text-shadow: 1px 1px 3px white;
}

/*                                          Часть NEWS    */
.news {
    width: 100%;
    height: 700px;
    background-color: #CBCBCB;
    color: #1A191E;
}
.news h1{ font-size: 34px;}
.title {
    color: #2CA77F;
    font-family: sans-serif;
    font-size: 13px;
    padding-bottom: 11px; }

.textMenu{
    width: 38%;
    float: left;
    margin: auto;
    margin-left: 18%;
}
.greenDate{
    font-family: monospace Arial;
    color: white;
    font-size: 12px;
    background-color: #2CA77F;
    padding: 2px;
    margin: 5px;
    max-width: 120px;
    text-align: center;
}
.stat{
    font-family: sans-serif;
    font-size: 13px;
    color: dimgrey;
    width: 420px;
    margin:5px;
}
.musicMore{
    color: #FF6256;
    font-size: 14px;
    float: right;
    font-family: sans-serif bold;
    margin-right: 85px;
}
.musicMore:hover{
    padding-bottom: 0;
    border-bottom: 1px solid #FF6256;
}
.title {
    color: #2CA77F;
    font-family: sans-serif;
    font-size: 13px;
    padding-bottom: 11px; }

.tags{
    margin-top: 15px;
}
div .tags p{
    color: #2CA77F;
    font-size: 14px;
}
.tagsTable td{
    background-color: #2CA77F;
    color: snow;
    font-size: 14px;
    font-family: sans-serif bold;
    padding: 2px;
    text-align: center;
    /*display: inline-table;*/
}
.tagsTable{
    margin-top: 20px;
    border-spacing: 5px 6px;
    border-collapse: separate;
}
.hiphop + td{
    background-color: #FF6256;
}

.fromThe{
    margin-top: 60px;
}
.theBlog{ font-family: sans-serif; font-size: 18px; color: #1A191E; }
.fromThe em{ font-family: cursive Arial; font-size: 20px; color: grey; }
.fromThe img{ float: left; }
.post1{
    font-family: sans-serif;
    font-size: 13px;
    color: #1A191E;
    margin-right: 77px;
    width:450px;
    float: right;
}


/*      РЕКЛАМА      */
.canon{
    width: 100%;
    height: 170px;
    background-image: url(../images/gallery/nikonSup.png);
    background-size: 100% 170px;
    background-repeat: no-repeat;
}
/*   НАЧИНАЕТСЯ БИО    */

.BIO{
    background-color: #FF6256;
    width: 100%;
    height: 650px;
    color: #1A191E;
}
/*      ЛЕВАЯ КОЛОНКА       */
.bioText{
    font-size: 33px;
    text-align: center;
}
.media{
    float: left;
    margin-left: 25%;
    color: snow;
    font-size: 23px;
    text-align: center;
    max-width: 35%;
}
.media img {
    border: 1px solid snow;
    border-radius: 100px;
}
/*      ПРАВАЯ КОЛОНКА      */
.info{
    font-family: sans-serif;
    float: right;
    margin-right: 7%;
    color: snow;
    font-size: 15px;
    max-width: 40%;
}
.info b{ font-family: BEBAS; font-size: 18px; }
.infoStih{ text-align: center; }

footer{
    width: 100%;
    height: 275px;
    background-image: url(../images/footer3.jpg);
    background-size: 100% 275px;
}
footer h1{
    color: black;
}
.number{
    font-size: 26px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.email{
    font-size: 34px;
    padding: 10px;
    margin: auto;
    margin-top: 1%;
    border: 3px solid snow;
    max-width: 40%;
    text-align: center;
    background-image: url(../images/stoneOk.png);
    color: #B2CCE8;
    text-shadow: 1px 1px 2px black;
}
.adress{
    text-align: center;
    padding-top: 5px;
}
.adress i{
    font-style: normal;
    text-decoration: line-through;
}

sup{ font-size: 8px;}

.adress + br + p{
    text-align: center;
    font-family: Arial;
    font-size: 11px;
}